:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-primary: #02abff;
  --color-grey1: #111;
}

body {
  margin: 0;
}

.content-padding {
  padding: 50px 0px;
}

/* PROFILE */
.profile-wrapper {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-name {
  margin: 20px 0px 0px 0px;
  font-size: 45px;
  font-weight: bold;
}

.profile-profession {
  padding: 10px 0px 15px 0px;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-primary);
}

.profile-item {
  display: flex;
  gap: 10px;
}

.profile-item>span {
  font-weight: 200;
  color: var(--color-grey1);
}

.profile-menus {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #111;
  gap: 20px;
}

.profile-socials {
  display: flex;
  gap: 15px;
}